.encabezado{
width: 100%;
height: 70px;
text-align: center;
background-color: #2D336B;
color: white;
padding-top: 10px;
}

.contenedor__principal{
  display: flex;
  justify-content: center;
   padding: 10px;
}

.letra{
  color: #2D336B;
  margin-top: 30px;
}

.asientos{
  width: 100%;
  height: 80px;
  color: #2D336B;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.disponibilidad{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
}

.boton__negro{
  width: 40px;
  height: 40px;
  background-color: black;
  border: none;
  border-radius: 0.5rem;
}

.boton__verde{
  width: 40px;
  height: 40px;
  background-color: rgb(53, 139, 83);
  border: none;
  border-radius: 0.5rem;
}

.contenedor{
border: 1px solid rgb(217, 213, 213);
padding: 20px;
width: 500px;
color: black;
border-radius: .5rem;
background-color: #e8ebec;
box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.3);
}



